@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div id="sidebar" class="app-sidebar">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">

        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-header">
                <a href="#" class="brand-logo">
                    <img src="~/assets/img/TD-Logo-.png" alt="" height="50" />
                </a>
            </div>
            <div class="menu-header">Navigation</div>
            <div class="menu-item @(ViewContext.RouteData.Values["Action"].ToString() == "Dashboard" ? "active" : "")">
                <a asp-controller="User" asp-action="Dashboard" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-home"></i></span>
                    <span class="menu-text">Dashboard</span>
                </a>
            </div>
            <div class="menu-item @(ViewContext.RouteData.Values["Action"].ToString() == "MiniSwitchs" ? "active" : "")">
                <a asp-controller="User" asp-action="MiniSwitchs" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-envelope"></i></span>
                    <span class="menu-text">MiniSwitchs</span>
                </a>
            </div>

            <div class="menu-item has-sub @(ViewContext.RouteData.Values["Action"].ToString() == "" ? "active" : ViewContext.RouteData.Values["Action"].ToString() == "Details" ? "active" : "")">
                    <a href="#" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-envelope"></i>
                            <span class="menu-icon-label">6</span>
                        </span>
                        <span class="menu-text">Request Management</span>
                        <span class="menu-caret"><b class="caret"></b></span>
                    </a>
                    <div class="menu-submenu">
                        <div class="menu-item @(ViewContext.RouteData.Values["Action"].ToString() == "Delivery" ? "active" : "")">
                            <a asp-controller="Request" asp-action="Delivery" class="menu-link">
                                <span class="menu-text">Delivery</span>
                            </a>
                        </div>
                        <div class="menu-item @(ViewContext.RouteData.Values["Action"].ToString() == "Pickup" ? "active" : "")">
                            <a asp-controller="Request" asp-action="Pickup" class="menu-link">
                                <span class="menu-text">Pickup</span>
                            </a>
                        </div>
                    </div>
                </div>



            <div class="menu-item has-sub">



            </div>






        </div>
        <!-- END menu -->
    </div>
    <!-- END scrollbar -->
    <!-- BEGIN mobile-sidebar-backdrop -->
    <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
    <!-- END mobile-sidebar-backdrop -->
</div>
